    <title>Github</title>
  <!--Header-->

  <Header>&nbsp;&nbsp;
    <div><i class="fa fa-github" style="font-size:40px; justify-self: unset;"></i></div>&nbsp;&nbsp;
    <div class="search">
        <input type="text" placeholder="Search or jumped to.." style="background-color: transparent;border-color:none;width:100%;"><button> / </button>
        
    </div>&nbsp;&nbsp;
    <div class="xyz">
    <div class="header">
    
        <ul class="nav-link">
            <li><a>Pull request</a></li>&nbsp;
            <li><a>issues</a></li>&nbsp;
            <li><a>Codespaces</a></li>&nbsp;
            <li><a>Marketplace</a></li>&nbsp;
            <li><a>Explore</a></li>&nbsp;
        </ul>
       
</div>
<div class="icon">
<i class="fa-regular fa-bell"></i>
<i class="fa-thin fa-plus"></i>

<select  style="width: 20px; cursor: 20px pointer;outline: none;background: none;color:gray;border: none;">
    <option>New repository</option>
    <option>Imort repository</option>
    <option>New codespage</option>
    <option>New gits</option>
    <option>New organization</option>
    <option>New project</option>
  </select>
  
  <i class="fa fa-circle-user"></i>
<select  style="width: 20px; cursor: 20px pointer;outline: none;background: none;color:gray;border: none;">
    <option>Your profile</option>
    <option>Your repository</option>
    <option>Your project</option>
    <option>Your star</option>
    <option>Your gits</option>
    <hr>
    <option>Upgrade</option>
    <option>try Enterprise</option>
    <option>Feature preview</option>
    <option>Help</option>
    <option>Settings</option>
    <hr>
    <option>Sign out</option>
  </select>
</div>
</div>
</Header>
    


